<div *ngFor="let user of users" class="card">
    <div class="col-sm-4">
        <div class="card-body">
            <h5 class="card-title">{{ user.firstName }} {{ user.lastName }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ user.email }}</h6>
            <p class="card-text">Cette persone préfère le {{ user.drinkPreference }}</p>
            <p class="card-text" *ngIf="user.hobbies && user.hobbies.length > 0">
              Cette personne a des hobbies !
              <span *ngFor="let hobby of user.hobbies"><li>{{ hobby }}</li></span>
            </p>
        </div>
    </div>
</div>
<div class="col-sm-12">
  <!--  Un '/' est présent pour naviguer de cette manière : localhost:4200/new-user, et non en tant que sous-entité : localhost:4200/users/new-user -->
  <a routerLink="/new-user" href="#" class="btn btn-primary">Nouvel utilisateur</a>
</div>
